.trip-info__list {
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--dark-blue);
  }
}

.app-info__list {
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--dark-blue);
  }
}
.form {
  display: flex;
  flex-direction: column;
  legend {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 15px 30px 15px;
    color: var(--pink);
  }
  &-header {
    h1 {
      padding: 0;
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      color: var(--white);
      text-align: center;
      margin: 0 15px;
      padding-top: 35px;
      padding-bottom: 55px;
    }
    background-size: cover;
    background-color: var(--dark-blue);
    background-image: url(/img/mobile/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100px;
  }
  &-title {
    padding: 5px 20px;
    p {
      padding: 0;
      margin: 0;
      margin: 40px 0 45px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }
  }
  &-name-info {
    padding: 5px 20px 5px 20px;
    input {
      max-width: 100%;
      width: 100%;
    }
  }
  &-trip-info {
    background-color: var(--grey);
    padding: 40px 20px 10px 20px;
  }
  &-phone-info {
    padding: 30px 20px 10px 20px;
    label {
      
      position: relative;
    }
    input {
      padding-right: 65px;
      max-width: 100%;
      width: 100%;
    }
  }
  &-app-info {
    background-color: var(--grey);
    padding: 40px 20px 10px 20px;
  }
  &-emotion-info {
    padding: 40px 20px 10px 20px;
    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
      span {
        color: var(--pink);
      }
      span.submit-info__text {
        color: var(--dark-blue);
      }
    }
    button {
      margin-bottom: 50px;
      width: 100%;
    }
    textarea {
      width: 100%;
      padding-left: 20px;
      padding-top: 20px;
      min-height: 200px;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      border: 2px solid var(--light-grey);
      color: var(--dark-blue);
      margin-bottom: 50px;
      &::placeholder {
        color: var(--dark-blue);
      }
    }
  }
}

.input__icon {
  position: absolute;
  background-color: var(--light-grey);
  width: 59px;
  min-height: 59px;

  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  transform: translateX(50%) translateY(-202%);
}
