<div class="navigation">
<div class="navigation-inner">
  <div class="navigation-logo--tablet"><img src="/img/tablet/icons/logotype-white-desktop.png"></div>
  <img src="/img/mobile/icons/logotype-white-mobile.png" class="navigation-logo" />
  <div class="navigation-links">
    <a href="/index.html">Главная</a>
    <a href="/photo.html">Фотографии</a>
    <a href="/form.html">Конкурс</a>
    <a href="https://htmlacademy.ru/" target="_blanc">Html Academy</a>
  </div>
  <a href="javascript:void(0);" class="navigation-icon" onclick="myFunction()">
    <img class="navigation-icon__item" src="/img/mobile/index/menu-burger.png">
  </a>
</div>
</div>
 