@import "../../bower_components/normalize.css/normalize.css";
@import "./components/main.scss";
@import "./reset.scss";
@import "./footer.scss";
@import "./pages/main.scss";
@import "./header.scss";

body {
  font-family: "Open Sans", sans-serif;
}
textarea {
  resize: none;
}
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
